<% if @message %>
  <div class="alert alert-danger">
    <%= @message %>
  </div>
<% end %>
<dl>
  <% @shares.each do |share| %>
    <div class="row">
      <span class="vote-section col-md-1 col-xs-2">
        <% vote = Vote.find_by(user: current_user, share_id: share.id) %>
        <% if vote %>
          <p>
            <%= link_to "▲", vote_path(share_id: share.id, id: vote.id, vote: { value: 1 }), method: :patch, class: "vote-up-arrow vote-#{vote.value}" %>
          </p>
          <p class="vote-total"><%= share.net_votes %></p>
          <p>
            <%= link_to "▼", vote_path(share_id: share.id, id: vote.id, vote: { value: -1 }), method: :patch, class: "vote-down-arrow vote-#{vote.value}" %>
          </p>
        <% else %>
          <p>
            <%= link_to "▲", share_votes_path(share_id: share.id, vote: { value: +1 }), method: :post, class: "vote-up-arrow no-vote" %>
          </p>
          <p class="vote-total">
            <%= share.net_votes %>
          </p>
          <p>
            <%= link_to "▼", share_votes_path(share_id: share.id, vote: { value: -1 }), method: :post, class: "vote-down-arrow no-vote" %>
          </p>
        <% end %>
      </span>
      <span class="date-circle col-md-1 col-xs-2">
        <p class="date-month">
          <%= share.created_at.strftime("%b") %>
        </p>
        <p class="date-day">
          <%= share.created_at.strftime("%d") %>
        </p>
      </span>
      <article class="one-share col-md-10 col-xs-8">
        <dt>
          <h4><%= link_to share.title, share.url, class: "share-title" %></h4>
        </dt>
        <dd>
          <small>shared about <%= time_ago_in_words(share.created_at) %> ago by
            <% if current_user == share.user  %>
              you
            <% else %>
              <%= link_to share.user.nick_name, user_shares_path(share.user.id) %>
            <% end %></small>
        </dd>
        <dd>
          <small class="share-nav"><%= link_to "#{share.comments.size} Comments", share_comments_path(share.id) %></small>
            <% if current_user == share.user %>
              <small class="share-nav"><%= link_to "Edit Share", edit_share_path(share.id) %></small>
              <small class="share-nav"><%= link_to "Delete Share", share_path(share.id), method: :delete %></small>
            <% end %>
        </dd>
      </article>
    </div>
  <% end %>
</dl>
