<h1>Your Shares</h1>
<% if @message %>
  <div class="alert alert-danger">
    <%= @message %>
  </div>
<% end %>
<dl>
  <% @shares.each do |share| %>
    <dt>
      <h4><%= link_to share.title, share.url %></h4>
    </dt>
    <dd>
      shared at <%= share.created_at %> by <%= share.user.nick_name %>
      <% if current_user == share.user %>
        <%= link_to "Edit Share", edit_share_path(share.id) %>
        <%= link_to "Delete Share", share_path(share.id), method: :delete %>
      <% end %>
    </dd>
  <% end %>
</dl>
