<h1>Change your password</h1>

<% if @message %>
  <div class="alert alert-danger"><%= @message %></div>
<% end %>
<% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"><%= message %></div>
<% end %>

<%= form_tag user_update_password_path(@user.id), method: :patch do %>
  <%= label_tag "user_password[password]", "New Password" %>
  <%= password_field_tag "user_password[password]" %>

  <%= label_tag "user_password[confirm_password]", "Confirm Password" %>
  <%= password_field_tag "user_password[confirm_password]" %>

  <%= submit_tag "Save", class: "btn btn-primary"%>
<% end %>
