<h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
<h5>Forgeddit member for <%= time_ago_in_words(current_user.created_at) %></h5>
<dl class="dl-horizontal">
  <dt>
    Email
  </dt>
  <dd>
    <%= current_user.email %>
  </dd>
  <dt>
    First Name
  </dt>
  <dd>
    <%= current_user.first_name %>
  </dd>
  <dt>
    Last Name
  </dt>
  <dd>
    <%= current_user.last_name %>
  </dd>
  <dt>
    Nickname
  </dt>
  <dd>
    <%= current_user.nick_name %>
  </dd>
</dl>
<small class="profile-nav"><%= link_to "Edit Profile Info", edit_user_path(current_user.id) %></small>
<small class="profile-nav"><%= link_to "Change Password", user_edit_password_path(current_user.id) %></small>
