<!DOCTYPE html>
<html>
  <head>
    <title>Forgeddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body class="forgeddit">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <a class="navbar-brand" href="/shares">Forgeddit</a>
        <ul class="nav navbar-nav">
          <li><%= link_to "Share Something", new_share_path %></li>
          <li>
            <% if current_user %>
              <%= link_to "Your Shares", user_shares_path(current_user.id) %>
            <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if current_user %>
              <%= link_to "Logout", session_path, method: :delete %>
            <% else %>
              <%= link_to "Login", new_session_path %>
            <% end %>
          </li>
          <li>
            <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user.id) if current_user %>
          </li>
          <li>
            <%= link_to "Sign up", new_user_path unless current_user %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
